version: "3.0"

services:

  nginx:
    image: nginx:latest
    ports:
      - "8080:80"
    volumes: 
      - ./web:/usr/share/nginx/html
      - ./site.conf:/etc/nginx/conf.d/default.conf
    links:
      - php

  php:
    image: php:7-fpm
